body {
		font-family: Calibri, Helvetica, Arial;
		margin: 0px;
		/* display: flex; */
}

/* body * { */
/* 		border: 1px solid black; */
/* } */



.header-container {
	display: flex;
	/* flex-flow: row wrap; */
	background-color: #212936;
	color: white;
	padding: 10px;
	justify-content: center;
}

.header-elements{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	border: 1px solid red;
	flex: 1;
}

.header-elements h2{
	border: 1px solid red;
}

.navbar ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	color: lightgrey;
	margin: 0px;
	padding: 0px;
	border: 1px solid red;
}


ul {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	gap: 20px;
}

.main-title {
	display: flex;
	align-items: center;
	background-color: #212936;
	color: white;
	justify-content: center;
}



.main-title {
	flex-wrap: wrap;
	gap: 50px;
}

.left-title {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.left-title h1 {
	font-size: 40px;
}

.right-title {
	background-color: grey;
	justify-content: space-between;
	align-self: center;
	padding: 100px;
}

.some-random-info {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	justify-content: space-between;
}

.some-random-info h1{
	text-align: center;
}

.rnd-content-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	list-style: none;
	padding-bottom: 100px;
}

.rnd-content-container li{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
}

.quote-container {
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
	background-color: #E5E6EA;
}

.quote-main {
	font-style: italic;
	font-weight: 300;
	font-size: 30px;
	width: 50%;
	align-self: center;
	/* border: 1px solid blue; */
}

.originator {
	font-style: italic;
	font-size: 35px;
	display: flex;
	justify-content: flex-end;
	padding-right: 80px;
	/* border: 1px solid red; */
}

.sign-up-container {
	display: flex;
	justify-content: center;
	/* border: 1px solid red; */
}


.sign-up {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #4E80ED;
	border-radius: 10px;
	margin: 80px;
	padding: 30px 100px 30px 100px;
	color: white;
	gap: 150px;
	/* border: 2px solid red; */
}

#action {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* border: 1px solid red; */
}

.sign-up-button {
	width: 100px;
	height: auto;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 8px;
	background: #4E80ED;
	border-color: #4E80ED;
}

.inverted {
	border: 2px solid white;
	align-self: flex-end;
}

#action h2 {
	margin: 0px;
}

#action p {
	margin: 0px;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 40px;
}

.img-container {
	border: 3px solid royalblue;
	height: 120px;
	width: 120px;
	border-radius: 8px;
}


