body {
		font-family: Calibri, Helvetica, Arial;
		margin: 0px;
}

/* body * { */
/* 		border: 1px solid black; */
/* } */


header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: grey;
}

.main-title, header {
	padding-left: 180px;
	padding-right: 180px;
	padding-bottom: 50px;
}

.main-title, header {
	background-color: #212936;
	color: white;}

.main-title {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	border: 1px solid red;
}

.left-title {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.left-title h1 {
	font-size: 40px;
}

.right-title {
	background-color: grey;
	justify-content: space-between;
	align-self: center;
	padding: 100px;
}

.navbar ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		color: lightgrey;
}


ul {
		margin: 0px;
		padding: 0px;
		text-decoration: none;
		list-style: none;
		gap: 20px;
}
