body {
		font-family: Calibri, Helvetica, Arial;
		margin: 0px;
}

/* body * { */
/* 		border: 1px solid black; */
/* } */


header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid black;
		padding-left: 100px;
		padding-right: 100px;
		background-color: grey;
		color: white;
}


.navbar ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		border: 2px solid black;
		color: lightgrey;
}


ul {
		margin: 0px;
		padding: 0px;
		text-decoration: none;
		list-style: none;
		gap: 20px;
}
